@use "../../../presets" as *;
@use "../../../mixins/" as *;

.advantages-left {
  width: 55%;
  max-width: 500px;

  @include flex(flex-start, flex-start, column, $gap-x2);

  @media (max-width: $lg) {
    width: 100%;
  }

  &__title {
    @include title-style;
  }

  &__block {
    @include flex(flex-start, flex-start, column, 25px);
  }

  &__item {
    @include flex(flex-start, flex-start, row, 1rem);

    .item {
      &__icon {
        @include block-img-height(20px);
      }

      &__text {
        @include text-style;
      }
    }
  }
}
