@use "../../../presets" as *;
@use "../../../mixins/" as *;

.expect {
  width: 100%;
  position: relative;

  &-container {
    @extend %container;

    &__content {
      @include flex(space-between, center, column, 0);
    }
  }

  &-title {
    max-width: 840px;
    margin-bottom: 2rem;

    @include title-style;
    text-align: center;

    @media (max-width: $md) {
      max-width: 390px;
    }

    @media (max-width: $sm) {
      max-width: 195px;
      font-size: 1.625rem;
    }
  }
}
