@use "../../../presets" as *;
@use "../../../mixins/" as *;

.who {
  width: 100%;

  &-container {
    @extend %container;

    &__content {
      @include flex(space-between, center, column, $gap);
    }
  }

  &-title {
    text-align: center;

    @include title-style;

    @media (max-width: $sm) {
      font-size: 1.625rem;
    }
  }

  &-description {
    max-width: 650px;
    margin-bottom: $gap-x2;

    @include text-custom(1.5rem, normal, 200, $color-light, center);

    @media (max-width: $sm) {
      font-size: 1rem;
    }
  }
}
