@use "../../../presets" as *;
@use "../../../mixins/" as *;

.answers {
  width: 100%;

  background-color: $color-black-light;

  @media (max-width: $sm) {
    background-color: $color-black;
  }

  &-container {
    @extend %container;

    &__content {
      max-width: 604px;
      margin: 0 auto;
      padding: $gap-x6 0;

      @include flex(flex-start, space-evently, column, $gap-x3);

      @media (max-width: $sm) {
        padding: $gap-x4 0.75rem;

        border-radius: $gap;
        background-color: $color-black-light;
      }
    }
  }

  &-title {
    text-align: center;

    @include title-style;
  }
}
