@use "../../../presets" as *;
@use "../../../mixins/" as *;

.answers-block {
  @include flex(flex-start, flex-start, column, 0.5rem);

  .item {
    width: 100%;

    &__top {
      min-height: 92px;
      padding: $gap 2rem;

      cursor: pointer;

      border-radius: $gap-sm;
      background-color: $color-black-light-8;

      @include flex(flex-start, center, row, $gap);

      @media (max-width: $sm) {
        padding: 1rem;
      }
    }

    &__icon {
      @include block-img-height(24px);
    }

    &__text {
      @include text-custom(1.25rem, 1.625rem, bold);

      @media (max-width: $sm) {
        font-size: 1rem;
      }
    }

    &__area {
      display: none;

      margin-top: -5px;
      padding: 2rem;

      background-color: $color-black-light-3;

      @include text-custom(0.875rem, normal, 200, $color-light-black-3);

      &.active {
        display: block;
      }
    }

    &.active {
      .item__top {
        background-color: $color-black-light-4;
      }
    }
  }
}
