@use "../../../presets" as *;
@use "../../../mixins/" as *;

.help {
  width: 100%;

  &-container {
    @extend %container;

    &__content {
      width: 100%;
      padding: $gap-x4 $gap-x5;

      @include flex(space-between, center, row, $gap-x4);

      background-color: $color-black-light;
      border-radius: 2rem;

      @media (max-width: $lg) {
        padding: $gap-x4 28px;
        flex-direction: column;
      }

      @media (max-width: $sm) {
        padding: $gap-x3 0;
        gap: $gap-x2;
        background-color: inherit;
      }
    }
  }
}
