@use "../../../presets" as *;
@use "../../../mixins/" as *;

.audience-list {
  flex-wrap: wrap;

  width: 100%;

  @include flex(flex-start, space-evently, row, $gap);

  @media (max-width: $sm) {
    flex-direction: column;
  }

  &__item {
    width: calc(25% - $gap-x3 / 4);
    padding: $gap-x2 $gap;

    color: $color-light;
    border-radius: $gap;
    background-color: $color-black-light-2;

    @include flex(center, center, column, 1.5rem);

    @media (max-width: $lg) {
      width: calc(50% - $gap / 2);
    }

    @media (max-width: $sm) {
      width: 100%;
    }

    .item {
      &-img {
        @include block-img-height(48px);
      }

      &-info {
        @include text-custom(1rem, normal, bold, $color-light, center);
      }

      &-description {
        @include text-custom(0.875rem, normal, 200, $color-light, center);
      }
    }
  }
}
