@use "../../../presets" as *;
@use "../../../mixins/" as *;

.audience {
  width: 100%;

  &-container {
    @extend %container;

    &__content {
      width: 100%;

      border-radius: 2rem;
      background-color: $color-black-light;

      &-img {
        padding: $gap-x4 $gap-x5;

        background: url("../img/png/audience/bg.png") no-repeat center bottom;
        background-size: contain;

        @include flex(space-between, center, column, $gap-x2);

        @media (max-width: $lg) {
          padding: $gap-x4 3.25rem;

          background-position-y: 800px;
          background-size: cover;

          @include flex(space-between, flex-start, column, $gap-x2);
        }

        @media (max-width: $sm) {
          padding: $gap-x3 $gap;
        }

        @media (max-width: $xs) {
          background: url("../img/png/audience/bg-xs.png") no-repeat center
          bottom;
          background-position-y: 860px;
          background-size: contain;
        }
      }
    }
  }

  &-title {
    text-align: center;

    @include title-style;
  }
}
