@use "../../../presets" as *;
@use "../../../mixins/" as *;

.how-footer {
  width: 100%;
  height: 154px;
  margin-top: 80px;

  @include flex(space-between, center);

  background: url("../img/png/hwo/bg.png") no-repeat center center;
  background-size: contain;

  @media (max-width: $lg) {
    transform: rotate(90deg);
  }

  &__text {
    margin: 0 auto;
    max-width: 1030px;

    @include text-custom(1.5rem, normal, 200, $color-light, center);

    @media (max-width: $lg) {
      transform: rotate(-90deg);
    }

    @media (max-width: $sm) {
      font-size: 1rem;
    }
  }
}
