@use "../../../presets" as *;
@use "../../../mixins/" as *;

.credit-right {
  width: 30%;

  @include flex(flex-start, flex-start, column, 1rem);

  @media (max-width: $lg) {
    width: 100%;
    max-width: 320px;
  }

  &__title {
    font-weight: bold;

    @include text-style;
  }

  &__list {
    margin: 0;
    padding: 0 0 0 $gap;

    @include flex(flex-start, flex-start, column, 0.75rem);

    li {
      list-style: disc;

      @include text-custom(0.875rem, 1.625rem, 200, $color-light);

      img {
        margin-left: -$gap;

        &:nth-of-type(1) {
          height: 27px;
        }

        &:nth-of-type(2) {
          height: 10px;
        }
      }
    }
  }
}
