@use "../../../presets" as *;
@use "../../../mixins/" as *;

.credit {
  width: 100%;

  &-container {
    @extend %container;

    &__content {
      width: 100%;
      padding: $gap-x4 $gap-x5;

      border-radius: 2rem;
      background-color: $color-black-light;

      @include flex(space-between, center, row, 0);

      @media (max-width: $lg) {
        padding: $gap-x4 94px;

        @include flex(center, center, column, $gap-x2);
      }

      @media (max-width: $sm) {
        padding: $gap-x4 $gap;
      }
    }
  }
}
