@use "../../presets" as *;
@use "../../mixins" as *;

.footer-top {
  width: 100%;
  @include flex(space-between, center, row, 2rem);

  color: $color-light;

  @media (max-width: $lg) {
    flex-direction: column;
    justify-content: center;
  }

  &-left {
    width: 35%;
    @include flex(space-between, flex-start, column, 2rem);

    @media (max-width: $lg) {
      width: 100%;
      align-items: center;
    }

    &__logo {
      @include block-img-height(34px);
    }

    &__text {
      @include text-custom(0.875rem, normal, 200, $color-light);

      @media (max-width: $lg) {
        text-align: center;
      }
    }

    &__icons {
      @include flex(flex-start, center, row, $gap);

      .item {
        @include block-img-height(24px);
      }
    }
  }

  &-center {
    width: 35%;
    @include flex(space-between, flex-start, column, $gap);

    @media (max-width: $lg) {
      width: 50%;
      align-items: center;
    }

    @media (max-width: $md) {
      display: none;
    }

    &__title {
      @include text-custom(1.125rem, normal, bold);
    }

    &__list {
      width: 100%;
      @include flex(flex-start, flex-start, row, 0);

      .list {
        padding: 0;
        margin: 0;
        width: 50%;
        @include flex(flex-start, flex-start, column, 0.75rem);

        @media (max-width: $lg) {
          align-items: center;
        }

        li {
          @include text-custom(0.875rem, normal, 200, $color-light);
        }
      }
    }
  }

  &-right {
    width: calc(30% - $gap-x2);
    @include flex(flex-end, flex-end, column, $gap);

    color: $color-light;

    @media (max-width: $lg) {
      width: 100%;
      align-items: center;
    }

    &__title {
      padding-right: $gap-x5;
      @include text-custom(1.125rem, normal, bold);

      @media (max-width: $lg) {
        padding: 0;
      }
      @media (max-width: $md) {
        display: none;
      }
    }

    &__links {
      @include flex(space-between, flex-start, column, 0.75rem);

      .item {
        @include flex(space-between, center, row, 0.75rem);

        &__icon {
          @include block-img-height(24px);
        }

        &__ref {
          @include text-custom(1rem, normal, 200, $color-light);
        }
      }
    }
  }
}
