@use "../../../presets" as *;
@use "../../../mixins/" as *;

.about-right {
  color: $color-light;

  @include flex(flex-start, flex-start, column, $gap);

  &__text {
    max-width: 376px;

    @include text-style;

    @media (max-width: $lg) {
      width: 100%;

      text-align: center;
    }
  }

  &__items {
    @include flex(flex-start, center, row, 44px);

    @media (max-width: $lg) {
      justify-content: center;

      width: 100%;
    }

    @media (max-width: $sm) {
      gap: $gap;
    }

    .item-block {
      @include flex(flex-start, center, column, 4px);

      &__icon {
        width: 64px;
        height: 64px;

        border-radius: 50%;
        background-color: $color-primary;

        @include flex(center, center);
        @include text-custom(2rem, 36px);
      }

      &__text {
        text-transform: uppercase;

        @include text-custom(1.25rem, 1.625rem, 200);
      }
    }
  }
}
