@use "../../../presets" as *;
@use "../../../mixins/" as *;

.result {
  position: relative;

  width: 100%;

  &-container {
    @extend %container;

    &__content {
      @include flex(space-between, center, column, 0);
    }
  }

  &-title {
    margin-bottom: 2rem;

    text-align: center;

    @include title-style;

    @media (max-width: $sm) {
      margin-bottom: 24px;

      font-size: 1.625rem;
    }
  }

  &-description {
    max-width: 490px;
    margin-bottom: $gap-x2;

    @include text-custom(1.25rem, normal, 200, $color-light, center);

    @media (max-width: $sm) {
      margin-bottom: 24px;

      font-size: 1rem;
    }
  }
}
