@use "../../../presets" as *;
@use "../../../mixins/" as *;

.result-range {
  width: 100%;
  margin-bottom: $gap-x2;
  padding: 28px $gap;

  background-color: $color-black-light-3;

  @media (max-width: $sm) {
    margin-bottom: 24px;
  }

  &__block {
    @include flex(space-between, center);

    .item-range {
      position: relative;

      width: 50%;
      height: 24px;

      background-color: $color-primary;

      &--2 {
        width: 30%;

        background-color: $color-primary-light-2;
      }

      &--3 {
        width: 20%;

        background-color: $color-light;
      }

      &:not(:last-child)::after {
        position: absolute;
        top: -10px;
        right: -2px;

        display: block;

        width: 2px;
        height: 44px;

        content: " ";

        background-color: inherit;
      }
    }
  }
}
