@use "../../presets" as *;
@use "../../mixins" as *;

.header-burger {
  display: none;

  cursor: pointer;

  @media (max-width: $md) {
    display: block;
  }

  &__menu {
    position: fixed;
    z-index: 1000;
    top: 64px;

    display: none;

    width: 100%;
    padding: $gap;

    background-color: $color-black;

    inset: 0;

    @media (max-width: $md) {
      &.active {
        display: block;
      }
    }

    .header-navbar {
      &__list {
        flex-direction: column;

        margin-top: $gap-x3;
        padding: 0;
      }

      &__item {
        width: 100%;
        padding-bottom: 10px;

        text-align: center;

        border-bottom: 1px solid rgba($color-light, 0.5);
      }
    }
  }
}
