@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  font-family: $font-main;
  font-size: $font-size;

  &.hidden {
    overflow: hidden;
  }
}

body {
  overflow: hidden;

  background-color: $color-black;
}

main {
  @include flex(flex-start, center, column, $gap-x6);

  @media (max-width: $sm) {
    gap: $gap-x5;
  }
}

a {
  text-decoration: none;

  color: $color-light;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
